@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asul:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500&display=swap");

:root {
  --backgroundColor1: #ffa398;
  --backgroundColor2: #f2edcd;

  --typeFace1: "Fredoka One", cursive;
  --typeFace2: "Crimson Pro", serif;
  --typeFace3: "Asul", sans-serif;
  --typeFace4: "Fredoka", sans-serif;

  --textColor1: #6b726b;
  --textColor2: #3d3f65;
  --textColor3: #ffffff;
  --textColor4: #474860;


  --boardCardColor1: #5cd2d0;
  --boardCardColor2: #f34d51;
  --boardCardColor3: #7cd083;
  --boardCardColor4: #3d79ee;
  --boardCardColor5: #4a2614;
  --boardCardColor6: #f2bcd6;
  --boardCardColor7: #6537c7;
  --boardCardColor8: #f6c739;

  --avatar1BgColor: #E7C0FF;
  --avatar2BgColor: #95C4FC;
  --avatar1TextColor1: #826495;
  --avatar1TextColor2: #473351;
  --avatar2TextColor1: #365881;
  --avatar2TextColor2: #243243;


}
* {
  margin: 0;
  padding: 0;
  font-family: var(--typeFace1);
}
body {
}
button {
  border: none;
  color: aliceblue;
  font-family: var(--typeFace3);
  line-height: 32px;
  font-weight: 600;
  font-size: 1.1rem;
}
.landingPage {
  display: flex;
}
.contentPanel {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.contentPanel #childrenStuff {
  margin-top: 8%;
}
.contentPanel p {
  width: 50%;
  /* margin: auto; */
  text-align: center;
  font-family: var(--typeFace2);
  line-height: 36px;
  font-weight: 300;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.66);
  position: relative;
  margin-top: 6%;
}
.contentPanel #line {
  position: absolute;
  top: 25px;
}
.contentPanel button {
  width: 22%;
  height: 46px;
  background: #ffa398;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25),
    0px 4px 0px rgba(224, 78, 61, 0.62);
  border-radius: 10px;
  margin-top: 8%;
}
.contentPanel #children {
  position: absolute;
  bottom: 0;
}
.contentPanel h1,.playerSection > div > h1,.center h1 {
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 97px;
  font-size: 4rem;
  margin-top: 6%;
  color: #313030;
  text-shadow: 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.center {
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 97px;
  font-size: 4rem;
  margin-top: 6.3%;
  margin-left: 13.5px;
  color: #313030;
  text-shadow: 4px 8px 0px rgba(0, 0, 0, 0.15);
}
.imagePanel {
  width: 60%;
  height: 100vh;
  background-color: #ffa398;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagePanel img {
}
.loadingPage {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.loadingPage img:first-child {
  margin: 10px 0px;
}
.loadingPage img:last-child {
  margin: 40px 0px;
}
.loadingPage .msgToPlayer {
  position: relative;
  width: 400px;
  height: 200px;
}
.loadingPage p {
  font-family: var(--typeFace2);
  line-height: 32px;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0px;
  color: rgba(0, 0, 0, 0.66);
  margin: 80px 0px;
  position: absolute;
  width: 100%;
}

.boardCenter, .playGround ,.playerAvatar #p3{
  position: absolute;

}
.boardCenter {
  width: 43.5%;
  height: 986px;
  top: 162px;
  left: 160px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
 background-image: url('../assets/img/svg/theWorld.svg');
 background-size: 60%;
 background-color: var(--backgroundColor2);
}
.boardCenter h1{
  width: 100%;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: #023059;
  text-shadow: 4px 8px 0px rgba(0, 0, 0, 0.15);
  background-color: #f2edcd;

}
.playerSection{
  width: 40%;
  height: 100vh;
  margin-left: 5%;
  background-color: #ffffff;
  border-radius: 1%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.031);

}
.playerSection > div > h1{
 
  margin-top: 0 !important;
  margin-bottom: 3  0px;
}
.playerStatusBar{
  width: 60%;
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center; 
  box-shadow: 3px 11px 2px rgba(222, 211, 211, 0.25), inset 0px -6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  position: relative;
  margin-top: 40px;

}
.playerStatusBar img{
  padding: 10px;
}
.playerStatusBar img:nth-child(2){
  position: absolute;
  right: -8px;
  width: 30%;
}
.avatar1{
  background-color: var(--avatar1BgColor);
}
.avatar1 p:first-child{
  color: var(--avatar1TextColor1);
}
.avatar1 h1{
  color: var(--avatar1TextColor2);
}
.avatar2 {
  background-color: var(--avatar2BgColor);
}
.avatar2 p:first-child{
  color: var(--avatar2TextColor1);
}
.avatar2 h1{
  color: var(--avatar2TextColor2);
}
.playerInfo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.playerStartUp{
  position: absolute;
}
#p1{
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}
#p2{
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

#p1Icon, #p2Icon {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  z-index: 1;
}

#p2Icon {
  left: 20px;
}

.playerAvatar #p3{
  top: 100px;
  left: 30px;
}
.rollTheDice{
  width: 60%;
  margin: auto;
}
.rollTheDice div{
  position: relative;
}
.rollTheDice button{
  width: 100%;
  color: var(--textColor3);
  background-color: var(--backgroundColor1);
  padding: 30px;
  box-shadow: 3px 11px 2px rgba(222, 211, 211, 0.25), inset 0px -6px 0px rgba(0, 0, 0, 0.25);
  font-family: var(--typeFace2);
  font-size: 1.8rem;
  border-radius: 20px;
  border: none;
}
.rollTheDice button:hover{
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  transform: scale(1.03);
}
.rollTheDice button:active{
  box-shadow:0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(.98);
}
.propertiesCards{
  background-color: #ffffff;
  width: 60%;
  min-height: 200px;
  margin: auto;
  box-sizing: border-box;
  text-align: left;
  /* padding: 30px; */
  display: flex;
  color: var(--textColor4);
}
.property{
  width: 90%; 
}
.propertiesCards div{
  margin-top: 20px;
}
.propertiesCards div h2{
  margin-bottom: 20px;
}
.propertiesCards div p{
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.gridForProperty{
display: flex;
justify-content: space-around;
flex-wrap: wrap;

  /* background-color: blue; */

}
.mysteryCardsPanel, .winnerCards, .propertyBuy, .taxesCardsPanel{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(83, 82, 82, 0.316);
  color: var(--textColor2);

}
.mysteryCardsPanel div,.winnerCards div, .taxesCardsPanel div{
  position: absolute;
  width: 20%;
  min-height: 40%;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
  top: 20%;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  
}
.mysteryCardsPanel div *{
  padding: 20px 0px;
}
.propertyBuy div{
  position: absolute;
  width: 20%;
  height: 50%;
  margin: auto;
  text-align: center;
  color: var(--textColor3) !important;
  top: 20%;
  left: 40%;
  border: 6px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0px;
}
.propertyBuy div #amount{
  font-size: 3rem !important;
}
.propertyBuy div p
{
  font-size: 1.8rem;
  color: #f1f1f1 !important;
}
.propertyBuy div #buy{
  background-color: #ffffff;
  width:  30%;
  font-size: 1.4rem;
  width: 40%;
  padding: 10px 0px;
  color: #313030;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.propertyBuy div #cancel{
  position: absolute;
  background-color: transparent;
  top: 20px;
  right: 20px;
  opacity: .2;

}
.mysteryCardsPanel div p,.winnerCards div p,.propertyBuy div p{
  font-family: var(--typeFace3);
}
.taxesCardsPanel div{
  background-attachment: red;
}
.winnerCards{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #8381813c;
}
.winnerCards img{
  /* position: absolute; */
  z-index: 3;
}
.hidden {
  display: none !important;
}

.dice div{
  position: relative;
  width: fit-content;
}
#rollDice{
  background-color: var(--textColor4) !important;
  padding: 10px;
  border-radius: 10px;
}
/* button:after {
  content: "";
  display: block;
  position: absolute  ;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px rgb(201, 199, 199);
} */

button:active:after {
  box-shadow: 0 0 0 0 rgb(201, 199, 199);
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

button:active {
  top: 1px;
}

.diceContainer {
  position: absolute;
  z-index: 999;
  top: 74%;
  left: 27%;

}
.diceContainer img{
  opacity: 0.2;
}

#die1,#die2{
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

#diceResult {
  position: absolute;
  top: 23%;
  left: 27%;
  z-index: 999;
  font-size: 3rem;
  color: #313030;
  font-weight: 100;
}